/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



.root{

}

@font-face {
  font-family: Roboto;
  src: url("../../../../resources/font/Roboto-Regular.ttf");
}

.button-grid-1{
	-fx-background-color: #ffffff;
	-fx-background-radius: 12.0;
	-fx-background-fills: #ffffff;
	-fx-graphic: url("../../../../resources/images/icon_book.png");
	-fx-graphic-text-gap: 0;
	-fx-opacity: 0.8;
	-fx-text-fill: #727986;
	-fx-pref-width: 240.0;
	-fx-pref-height: 200.0;
	-fx-text-origin: bottom ;
	-fx-font-size: 16.0;
	-fx-font-family: Roboto;
	-fx-font-weight: BOLD;
	-fx-border-color: #e5e5e5;
	-fx-border-radius: 12;
	-fx-border-width: 2;

}

.button-grid-1:hover{
	-fx-background-color: #ffffff;
	-fx-background-radius: 12;
	-fx-background-fills: #ffffff;
	-fx-graphic: url("../../../../resources/images/icon_book_red.png");
	-fx-graphic-text-gap: 0;
	-fx-text-fill: #d41923;
	-fx-opacity: 1.0;
	-fx-pref-width: 240.0;
	-fx-pref-height: 200.0;
	-fx-text-origin: bottom ;
	-fx-font-size: 16.0;
	-fx-font-family: Roboto;
	-fx-font-weight: BOLD;
	-fx-border-color: #d41923;
	-fx-border-radius: 12;
	-fx-border-width: 2;
}





